.frame {
  border-color: darkgoldenrod;
  border-style: solid;
  position: relative;
}

.value {
  margin-top: 4rem !important;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 32px;
}
